* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #333333;
}

.produtos {
    display: flex;
}